a.book-tickets-btn-lg {
	.pad-all(0);
	.h(5.3);
	.line-h(5);
	.font-size(1.8);
	.bg-col-orange;
	.txt-col-wht;
	.rel;
	.no-border;
	.no-rounded;
	.border-top(@wht; 0.3);
	
		&:before, &:after {
		font-family: FontAwesome;	
		.line-h(5);	
		text-align: center;
		.txt-col-blue-dk;
		.font-size(1.8);
		}
			
		&:before {
		content: "\f145";
		.fleft;	
		.pad-left(1);
		}
		
		&:after {
		content: "\f054";	
		.fright;	
		.pad-right(1);
		.font-size(1.4);
		}
		
		&:hover, &:active, &:focus {
		.bg-col-blue-dk;
		.txt-col-wht;
		.border-col(@blue-dk);
			&:before, &:after {
			.txt-col-orange;	
			}
		}
}