footer#footer-site-info {
//.border-top(@wht; 0.5);
	
	.footer-top {
	//.min-h(50);
	.rel;
	.pad-top(2);
	//.pad-bot(3);
	.bg-col(black);
	.bg-img("halfone-bg-2018.png");
	.bg-repeat;
	.bg-size;
	background-position: left top;
	//.gradient(@blue, @wht, @blue);	
	.border-bot(@wht; 0.3);
	}
	
	.footer-base {
	//.min-h(5);	
	.pad-top-10;
	.pad-bot-10;
	.line-h(1.4);
	.font-size(1.2);
	}
	
	.container-fluid {
	.rel;
	}
	
	.ticket-details {
	.pad-bot(2);
		.btn {	
		.rel;
		.pad-all(0);
		.line-h(4);
		.border(@wht; 0.3);
		.rounded(8px);
		.bg-col-orange;
		.txt-col-wht;
		.font-size(1.8);
			&:hover, &:active, &:focus {
			.bg-col-wht;
			.txt-col-orange;
			}
			
			&:before, &:after {
			.abs;
			.top(0);
			font-family: FontAwesome;	
			.w(4);
			.line-h(4);	
			text-align: center;
			.txt-col-blue-dk;
			.font-size(2);
			}
			
			&:before {
			content: "\f145";
			.left(0);
			}
			
			&:after {
			content: "\f054";	
			.right(0);
			.font-size(1.5);	
			}
		}
	}
	
	.ticket-info {
	.bold;
	.txt-col-wht;
	.pad-bot(1);
	.font-size(1.6);
	.line-h(1.8);
		a {
		.txt-col-wht;	
		.no-text-dec;
			&:hover, &:active, &:focus {
			.txt-col-blue-dk;
			}
		}
	}
	
	.contact-info {
	.font-size(1.6);	
	.line-h(2);
	.pad-all(1.5);
	//.bg-col-wht;
	//.trans-bg(@wht; 0.8);
	.mag-bot(2);
	.rounded(8px);
	.txt-col-pink;
		a {
		.no-text-dec;
		.txt-col-wht;
			&:hover, &:active, &:focus {
			.txt-col-pink;
			text-decoration: underline;
			}	
		}
	}
	
	.social-links {
	.border-top(@wht; 0.3);
	text-align: center;
	.rel;
	z-index: 10;
	.clearfix;
		a {
		.fleft;	
		width: 50%;
		.h(4);
		.txt-col-wht;
		.no-text-dec;
		.bg-col-wht;
			i {
			.block;
			width: 100%;
			height: 100%;
			text-align: center;
			.font-size(2.5);
			.line-h(4);
				&.fa-facebook {
				.bg-col-facebook;	
				.border-right(@wht; 0.5);
				}
				&.fa-twitter {
				.bg-col-twitter;	
				}
			}
			
			&:hover, &:active, &:focus {
				
				i {
				.bg-col-trans;	
				
					&.fa-facebook {
					.col(@facebook_blue);	
					}
					
					&.fa-twitter {
					.col(@twitter_blue)	
					}
				}
				
			}
		}	
	}
	
	ul.footer-base-menu {
	.mag-bot-10;		
		a {
		.txt-col-wht;
		.no-text-dec;	
		}
		
		li {
		.in-block;	
			a {
			.pad-left(0.5);	
			.pad-right(0.5);
			.border-right(@wht; 0.1);
			}
			
			&:first-child a {
			.border-left(@wht; 0.1);
			}
		}	

	}

}

body.admin-bar footer#footer-site-info {
.pad-bot(4);
}